{% extends 'base.html.twig' %}

{% block title %}
Runtime Records
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="backdrop-box">
					<div class="centered-div">
						<img class="album-display" src={{randomProduct.cover}}>
						<div class="album-display-font-artist">{{ randomProduct.artist }}</div>
						<div class="album-display-font-title">{{ randomProduct.title }}</div>
						<div class="album-display-description">{{ randomProduct.description }}</div>
						<div class="album-display-genre-description">{{ randomProduct.genre }}</div><br>
						<img class="arrow" src="right-arrow.svg">
						<button class="album-display-read-more">Read More</button>
					</div>
				</div>
			</div>
		</div>

		<form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form>

		<div class="row" style="display: flex; justify-content: center;">
			{% for product in products[0:4] %}
				<div class="col-md-4">
					<span class="text-span">{{product.price}}</span>
					<a href="{{path('detail', {'slug': product.title })}}"><img class="album" src="{{ product.cover}}"></a>
					<div class="album-genre">{{product.genre}}</div>
					<p class="album-title clear">{{ product.title }}</p>
					<p class="artist">{{ product.artist }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			{% for product in products[4:4] %}
				<div class="col-md-4">
					<span class="text-span">{{product.price}}</span>
					<a href="{{path('detail', {'slug': product.title })}}"><img class="album" src="{{ product.cover}}"></a>	
					<div class="album-genre">{{product.genre}}</div>
					<p class="album-title clear">{{ product.title }}</p>
					<p class="artist">{{ product.artist }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div></div>
{% endblock %}
